<footer>
    <div id='prefooter'>
        <div class='box'>
            <p>
                we just started our project,if you think is cool share it</p>
            <div class='addthis_toolbox addthis_default_style addthis_32x32_style'>
                <a class='addthis_button_facebook'></a><a class='addthis_button_twitter'></a><a class='addthis_button_google_plusone_badge'>
                </a><a class='addthis_counter addthis_bubble_style'></a>
            </div>
            <script type='text/javascript'>
                var addthis_config = { "data_track_addressbar": true };
            </script>
            <script src='http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-504e04fd25d63caa'
                type='text/javascript'></script>
        </div>
        <div class='local'>
            <div class='spiegazione'>
                <h2>
                    HOW MANY LOCAL ACTORS IN OUR COMMUNITY?</h2>
                <p>
                    help us grow, become a local actor!</p>
            </div>
            <div class='number'>
                <a class='logo' href='/'><span></span></a>
            </div>
        </div>
    </div>
    <div class='blue'>
        <ul>
            <li class='nline'><span>/</span>
                <p>
                    P.IVA 323579891 /</p>
            </li>
            <li class='nopadding'><a href='mailto: weare@localactors.org'>contact us</a> <span>/</span>
            </li>
            <!--
              <li>
                <a href='c'>download paper</a>
                <span>/</span>
              </li>
            -->
            <li><a class='iubenda-white iubenda-embed' href='http://www.iubenda.com/privacy-policy/300072'
                title='Privacy Policy'>Privacy Policy</a>
                <script type='text/javascript'>
                    (function (w, d) {
                        var loader = function () {
                            var s = d.createElement("script"),
                tag = d.getElementsByTagName("script")[0]; s.src = "http://cdn.iubenda.com/iubenda.js";
                            tag.parentNode.insertBefore(s, tag);
                        }; if (w.addEventListener) { w.addEventListener("load", loader, false); }
                        else if (w.attachEvent) { w.attachEvent("unload", loader); } else { w.onload = loader; }
                    })(window, document);
                </script>
            </li>
            <li class='nline nopadding'>
                <p>
                    proudly designed by</p>
                <a href='http://thedoersproject.com'>thedoers</a> </li>
        </ul>
        <div class='rights'>
            <a href='http://creativecommons.org/licenses/by-nc-sa/3.0/' rel='license'>
                <img alt='Creative Commons License' src='http://i.creativecommons.org/l/by-nc-sa/3.0/88x31.png'
                    style='border-width: 0'>
            </a>
            <p>
                If not otherwise specified all content of this website is subject to the following
                license:</p>
            <a href='http://creativecommons.org/licenses/by-nc-sa/3.0/' rel='license'>Creative Commons
                Attribution-NonCommercial-ShareAlike 3.0 Unported License.</a>
        </div>
    </div>
</footer>