@if (!User.Identity.IsAuthenticated)
{
    <div class='join'>
        <div class='clear-box'>
        </div>
        <div class='button_container'>
            <div class='corner_left'>
            </div>
            <h4 class='buttons yellow_button'>
                <a href='@Url.Action("Subscribe", "Account")'>Join!</a>
            </h4>
            <div class='corner_right'>
            </div>
        </div>
        &nbsp;
        <div class='button_container'>
            <div class='corner_left'>
            </div>
            <h4 class='buttons yellow_button'>
                <a href='@Url.Action("Login", "Account")'>Login</a>
            </h4>
            <div class='corner_right'>
            </div>
        </div>
    </div>
}
