@using System.Configuration
@model update
<div class='update-contents'>
    @foreach (update_content content in Model.update_content)
    {
        <div class='update-content'>
            @{ Html.RenderPartial("_Update_Content", content); }
        </div>
    }
</div>
