@using System.Configuration
@model update
<div class='single-update'>
    @{ 
        Html.RenderPartial("_Project_Update_Header", Model); 
        Html.RenderPartial("_Project_Update_Body", Model); 
    }
</div>
<div class='clear'>
</div>
<hr class='update' />
