@using System.Configuration
@model update
<div class='single-update'>
    @{ 
        Html.RenderPartial("_Project_Update_Header", Model); 
        Html.RenderPartial("_Project_Update_Content", Model); 
    }
</div>
@{ Html.RenderPartial("_Project_Update_Comments", Model); }
<div class='clear'>
</div>
<hr class='update' />
