@using System.Configuration
@model Localactors.entities.project
@{
    ViewBag.Title = "Create";
}
<ul class="breadcrumb">
    <li><a href='@Url.Action("Index", "Home", new { Area = "Publisher" })'>Publisher Home</a>
        <span class="divider">/</span></li>
    <li><a href='@Url.Action("Index", "Home", new { Area = "Publisher" })'>Projects</a>
        <span class="divider">/</span></li>
    <li class="active"><a href='@Url.Action("Create", "Projects", new { Area = "Publisher" })'>
        Create Project</a> </li>
</ul>
<script type="text/javascript">
    var awsbase = '@ConfigurationManager.AppSettings["AWSS3BucketUrl"]';
    var baseurl = awsbase;
</script>
@using (Html.BeginForm("Create", "Projects", FormMethod.Post, new { enctype = "multipart/form-data", id = "mainform" })) {
   {Html.RenderPartial("_ProjectForm",Model);}
}
