<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="local_localactors" connectionString="metadata=res://*/LocalActors.csdl|res://*/LocalActors.ssdl|res://*/LocalActors.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=test;Persist Security Info=True;database=localactors&quot;" providerName="System.Data.EntityClient" />
    <add name="localactors" connectionString="metadata=res://*/LocalActors.csdl|res://*/LocalActors.ssdl|res://*/LocalActors.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localactors.cqexexkd4p8i.eu-west-1.rds.amazonaws.com;User Id=localactors;password=localactors;Persist Security Info=True;database=localactors&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="Pagesize_UserUpdates" value="10" />
    <add key="Email_Info" value="weare@localactors.org"/>

    <add key="AWSAccessKeyUsername" value="diego.localactors" />
    <add key="AWSAccessKey" value="AKIAIWHU7LFE7JD3VK7Q" />
    <add key="AWSSecretKey" value="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" />
    <add key="AWSEUEndPoint" value="s3-eu-west-1.amazonaws.com"/>
    <add key="AWSS3Bucket" value="localactors-webapp" />
    <add key="AWSS3BucketUrl" value="http://localactors-webapp.s3-website-eu-west-1.amazonaws.com/" />

    <add key="Image_Project_Width" value="256" />
    <add key="Image_Project_Height" value="256" />
    <add key="Image_Gallery_Width" value="256" />
    <add key="Image_Gallery_Height" value="256" />
    <add key="Image_User_Width" value="256" />
    <add key="Image_User_Height" value="256" />
    <add key="Image_Update_Width" value="256" />
    <add key="Image_Update_Height" value="256" />
    <add key="Image_Guestbook_Width" value="256" />
    <add key="Image_Guestbook_Height" value="256" />

    <add key="AWS_mailusername" value="localactors.smtp" />
    <add key="AWS_mailfrom" value="weare@localactors.org" />
    <add key="AWS_smtp_host" value="email-smtp.us-east-1.amazonaws.com" />
    <add key="AWS_smtp_port" value="587" />
    <add key="AWS_smtp_user" value="AKIAJ2G5F34YQDMHZ5XA" />
    <add key="AWS_smtp_pass" value="AjBnaIe2bvVNZWIEFms63aVT9umu38uNJw4ESO31grbm" />

    <add key="PP_environment" value="sandbox"/>
    <add key="PP_MerchantAccountId" value="8R62TKM9TXLMY"/>
    <add key="PP_Currency" value="EUR"/>
    <add key="PP_Callback" value="http://ec2-54-229-14-236.eu-west-1.compute.amazonaws.com/donation/callback"/>
    <add key="PP_IPNEndpoint" value="https://www.sandbox.paypal.com/cgi-bin/webscr"/>

    <add key="mail_from" value="weare@localactors.org" />
    <add key="mail_server" value="" />
    <add key="mail_port" value="" />
    <add key="mail_user" value="" />
    <add key="mail_password" value="" />
    <add key="mail_ssl" value="false" />



  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL"
           type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data,Version=6.6.5.0, Culture=neutral,PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <system.web>

    <httpRuntime executionTimeout="43200" maxRequestLength="32768"   />
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <customErrors mode="Off" >
      <error statusCode="404" redirect="~/home/fourofour" />
    </customErrors>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <remove assembly="MySql.Data" />
        <remove assembly="MySql.Data.Entity" />
        <remove assembly="MySql.Web" />

        <add assembly="MySql.Data, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        <add assembly="MySql.Data.Entity, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        <add assembly="MySql.Web, Version=6.6.5.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />

        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" />
    </authentication>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <globalization culture="IT-it"
     uiCulture="IT-it"
     requestEncoding="latin9"
     responseEncoding="latin9"
    />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <staticContent>
      <!--<mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />-->
    </staticContent>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>