<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="local_localactors" connectionString="metadata=res://*/LocalActors.csdl|res://*/LocalActors.ssdl|res://*/LocalActors.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=test;Persist Security Info=True;database=localactors&quot;" providerName="System.Data.EntityClient" />
  <add name="localactors" connectionString="metadata=res://*/LocalActors.csdl|res://*/LocalActors.ssdl|res://*/LocalActors.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localactors.cqexexkd4p8i.eu-west-1.rds.amazonaws.com;User Id=localactors;password=localactors;Persist Security Info=True;database=localactors&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>