@using System.Configuration
@model IEnumerable<Localactors.entities.donation>
@{
    ViewBag.Title = "Donations";
}
@*
<div class='call top'>
<table>
    <tr>
        <th>
            project
        </th>
        <th>
            Date
        </th>
        <th>
            Amount
        </th>
        <th>
            Currency
        </th>
        <th>
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.project.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
        </tr>
    }
</table>
</div>*@