@model ResetPasswordRequestModel
@{
    ViewBag.Title = "Reset Password";
}

@using (Html.BeginForm("ResetPasswordRequest", "Account", FormMethod.Post, new { @class = "blue-form", id = "register" }))
{
    
    @Html.ValidationSummary(false)


    <div class='container-form'>
        <div class="mail">
            <label for="Email">Email</label>
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
    </div>
        
    <br />
    <hr class='spacer button' />


    <div class='iscriviti'>
        <div class='clear-box'>
        </div>
        <div class='button_container'>
            <div class='corner_left'>
            </div>
            <h4 class='buttons yellow_button'>
                <input type='submit' value='  Reset Password  '>
            </h4>
            <div class='corner_right'>
            </div>
        </div>
    </div>
}
