@{
    ViewBag.Title = "Cambio Password Necessario";
}

<div id='explanation'>
    <div>A password reset is required</div>
    <div class="clearfix">
        @Html.ActionLink("Reset Password", "ResetPasswordRequest", new { username = ViewBag.username }, new { @class = "btn danger align-right" })
    </div>
</div>
