@{
    ViewBag.Title = "Cambio Password Necessario";
}

<div class="span8 ">
    <div>Per poter accedere al servizio &egrave; necessario impostare la propria password.</div>
    <div>
        Premendo il pulsante sottostante si proceder&agrave; al cambio password.
    </div>
    <div class="clearfix">
        @Html.ActionLink("Reset Password", "ResetPasswordRequest", new { username = ViewBag.username }, new { @class = "btn danger align-right" })
    </div>
</div>
