<div id='container-404'>
@*    <div class='error404'>
        <img alt='' class='mobile' src='/content/images/404_mobile.gif'>
        <img alt='' class='web' src='/content/images/404_web.gif'>
    </div>*@
    <div class='title'>
        <h1>
            Error:
        </h1>
        <h1 class='dx'>
            internal server error
        </h1>
    </div>
    <div id='lasalvezza'>
        <div class='clear-box'>
        </div>
        <div class='button_container'>
            <div class='corner_left'>
            </div>
            <h4 class='buttons yellow_button'>
                <a href='/'>La Salvezza</a>
            </h4>
            <div class='corner_right'>
            </div>
        </div>
    </div>
</div>
