@model Localactors.webapp.Controllers.ProfileModel
@{
    ViewBag.Title = "Your Projects Feed";
}

@foreach (update item in Model.updates.OrderByDescending(x=>x.Date))
{
    {Html.RenderPartial("_Project_Update", item);}
}

<div class="pager">
    @if(ViewBag.page>1) {
        <a href="@Url.Action("Feed",new{page=ViewBag.page-1})" class="previous">Previous</a>  
    }
    @if (ViewBag.hasnext == true) {
        <a href="@Url.Action("Feed", new {page = ViewBag.page + 1})" class="next">Next</a>
    }
</div>
