@model IEnumerable<Localactors.entities.user>

@{
    ViewBag.Title = "Index";
}

<table>
  
@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bio)
        </td>

        <td>
            @Html.ActionLink("Details", "Details", new { id=item.UserID }) 
        </td>
    </tr>
}

</table>
